<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>Cadastro de usuarios</title>
</head>
<body>

	<nav th:replace="fragments/cabecalho :: cabecalho"></nav>
	<div class="container">
	
	<th:block th:insert="fragments/buttons::novo(usuario)" />
	
	<span th:text="${mensagem}"></span>
	
	<table class="table">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Login</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${dados}">
				<td> <a th:href="@{/usuario/visualizar/{codusuario}(codusuario=${usuario.codigo})}" 
						th:text="${usuario.codigo}"></a></td>
				<td th:text="${usuario.nome}"/>
				<td th:text="${usuario.username}"/>
				<td><a th:href="@{/usuario/remover/{codusuario}(codusuario=${usuario.codigo})}">
									Excluir</a></td>
			</tr>		
		</tbody>
	</table>
</div>
<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	



</body>
</html>